<div id="coach">
  <body>

    <div class="navv">
        <div class="container mt-2 ">
            <a routerLink="/traineehome" class="navbar-brand fw-bold left">Fitness Arena</a>
        </div>
    </div>



    <section>
        <div class="form-container">
            <h1>Congratulations</h1>

            <h5 class="message">You have enrolled successfully</h5>

            <h5 class="message lsp">&nbsp;&nbsp;Welcome to the arena</h5>

            <div class="control">
                <input type="submit" routerLink="/Traineeinbody" value="Add InBody">
            </div>
        </div>
    </section>
  </body>
</div>
