<section id="coach" class="container-fluid my-4">
    <!-- Header Section Start-->
    <section>
        <div class="container titleSection">

            <div class="title">
                <h4 class="fw-bold">Program-Name || {{prog.name}}</h4>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </section>
    <!-- Header Section End-->

    <!-- 
    Note(1):
    el collapse card 3shan yshtghl lazem yb2a leeh:
        1. Target -> Da el by3rf el collapse button hy2fel w yft7 meen.
        2. Id     -> Da el by2oul ll button ana ahu el h-collapse (El area el hy7slha collapsing).
        
    kda yb2a 3ndna moshkla, lw 3ndna mkanen bnfsl ID m3na kda en zorar wa7ed bs el hyt7kem fehom...
    f a7na m7tagin kol ma n-create new collapsing card ndelo ID gdeed. Shoof ht3mlha ezai de bl code.

    Note(2):
    lw m3rftsh ezai t3mlha f ana sayblk card t7t msh by-collapse wla 7aga. bs 7awel brdo 3shan shaklha
    w arya7 fl est5dam.

    Note(3):
    awel card m3mol by default enno open 3shan t5li el page shaklha ashyak awel mtft7.
 -->


    <!-- First Collapsable Card Start (open by default)-->
    <!-- <div class="container mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link panel-collapse collapse in" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></button> -->

                            <!-- Collapse Button details - Start -->
                            <!-- <div class="Elzorar"> -->
                                <!-- Title -->
                                <!-- <h5 class="collapse-title-btn pe-5 ">First workout</h5> -->

                                <!-- Date -->
                                <!-- <p class="">
                                    <span class="">Date:</span>
                                    <span class="date">7 August 20200</span>
                                </p>
                            </div> -->
                            <!-- Collapse Button details - End -->
                    <!-- </h5>
                </div> -->

<!-- 
                <div id="collapseOne" class="collapse show clps-button" aria-labelledby="headingOne"
                    data-parent="#accordion"> -->

                    <!-- Card Content Start-->
                    <!-- <div class="card-body">
                        <div class="card elcard">
                            <div class="row">
                                <div class="col-lg md-4 elsora"> -->
                                    <!-- <img src="imgs/cover.jpg" class="img-fluid"> -->
                                    <!-- <iframe class="elvideo" width="100%" height="100%"
                                        src="https://www.youtube.com/embed/-uuKcR6HbWw"></iframe>
                                </div>

                                <div class="col-lg md-8">
                                    <div class="card-content my-4 px-3"> -->
                                        <!-- image -->
                                        <!-- <h3 class="card-title mt-2">First workout</h3> -->

                                        <!-- Date -->
                                        <!-- <p>
                                            <span class="fw-bold">Target:</span>
                                            <span class="date"> {{prog.target}}</span>
                                        </p> -->

                                        <!-- Description -->
                                        <!-- <p class="mt-2">
                                            <span class="description-title fw-bold">Description:</span>
                                        <p class="">{{prog.progDecription}}</p>
                                        

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card Content End-->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- First Collapsable Card End (open by default)-->


    <!-- Collapsable Card Start (close by default)-->
    <!-- <div class="container mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2"
                            aria-expanded="true" aria-controls="collapseOne"></button> -->

                            <!-- Collapse Button details - Start -->
                            <!-- <div class="Elzorar"> -->
                                <!-- Title -->
                                <!-- <h5 class="collapse-title-btn pe-5 ">First workout</h5> -->

                                <!-- Date -->
                                <!-- <p class="">
                                    <span class="">Date:</span>
                                    <span class="date">7 August 20200</span>
                                </p>
                            </div> -->
                            <!-- Collapse Button details - End -->
                    <!-- </h5>
                </div> -->

<!-- 
                <div id="collapse2" class="collapse clps-button" aria-labelledby="headingOne" data-parent=""> -->

                    <!-- Card Content Start-->
                    <!-- <div class="card-body">
                        <div class="card elcard">
                            <div class="row">
                                <div class="col-lg md-4 elsora">
                                    <img src="imgs/cover.jpg" class="img-fluid">
                                </div>

                                <div class="col-lg md-8">
                                    <div class="card-content my-4 px-3"> -->
                                        <!-- image -->
                                        <!-- <h3 class="card-title mt-2">First workout</h3> -->

                                        <!-- Date -->
                                        <!-- <p>
                                            <span class="fw-bold">Date:</span>
                                            <span class="date">7 August 20200</span>
                                        </p> -->

                                        <!-- Description -->
                                        <!-- <p class="mt-2">
                                            <span class="description-title fw-bold">Description:</span>
                                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                                            numquam culpa odio quas repudiandae iusto iste cum id deserunt sed possimus
                                            quis omnis impedit nisi aliquid. Odit veritatis nostrum iste odio aliquid
                                            enim similique molestiae! Error deserunt at eum doloribus. Lorem ipsum,
                                            dolor sit amet consectetur adipisicing elit. Rerum perferendis sit nesciunt
                                            doloremque aspernatur! Repellat, quae nam tempore quis nihil consequuntur,
                                            nisi necessitatibus unde consectetur ab odit odio culpa? Aut provident sit
                                            ipsa asperiores facere vel perferendis maxime facilis eveniet.</p>
                                        

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card Content End-->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- Collapsable Card End (close by default)-->


    <!-- Collapsable Card Start (close by default)-->
    <!-- <div class="container mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3"
                            aria-expanded="true" aria-controls="collapseOne"></button> -->

                            <!-- Collapse Button details - Start -->
                            <!-- <div class="Elzorar"> -->
                                <!-- Title -->
                                <!-- <h5 class="collapse-title-btn pe-5 ">First workout</h5> -->

                                <!-- Date -->
                                <!-- <p class="">
                                    <span class="">Date:</span>
                                    <span class="date">7 August 20200</span>
                                </p>
                            </div> -->
                            <!-- Collapse Button details - End -->
                    <!-- </h5>
                </div> -->


                <!-- <div id="collapse3" class="collapse clps-button" aria-labelledby="headingOne" data-parent=""> -->

                    <!-- Card Content Start-->
                    <!-- <div class="card-body">
                        <div class="card elcard">
                            <div class="row">
                                <div class="col-lg md-4 elsora">
                                    <img src="imgs/cover.jpg" class="img-fluid">
                                </div>

                                <div class="col-lg md-8">
                                    <div class="card-content my-4 px-3"> -->
                                        <!-- image -->
                                        <!-- <h3 class="card-title mt-2">First workout</h3> -->

                                        <!-- Date -->
                                        <!-- <p>
                                            <span class="fw-bold">Date:</span>
                                            <span class="date">7 August 20200</span>
                                        </p> -->

                                        <!-- Description -->
                                        <!-- <p class="mt-2">
                                            <span class="description-title fw-bold">Description:</span>
                                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                                            numquam culpa odio quas repudiandae iusto iste cum id deserunt sed possimus
                                            quis omnis impedit nisi aliquid. Odit veritatis nostrum iste odio aliquid
                                            enim similique molestiae! Error deserunt at eum doloribus. Lorem ipsum,
                                            dolor sit amet consectetur adipisicing elit. Rerum perferendis sit nesciunt
                                            doloremque aspernatur! Repellat, quae nam tempore quis nihil consequuntur,
                                            nisi necessitatibus unde consectetur ab odit odio culpa? Aut provident sit
                                            ipsa asperiores facere vel perferendis maxime facilis eveniet.</p>
                                      

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card Content End-->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- Collapsable Card End (close by default)-->

    <!-- Collapsable Card Start (close by default)-->
    <!-- <div class="container mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4"
                            aria-expanded="true" aria-controls="collapseOne"></button> -->

                            <!-- Collapse Button details - Start -->
                            <!-- <div class="Elzorar"> -->
                                <!-- Title -->
                                <!-- <h5 class="collapse-title-btn pe-5 ">First workout</h5> -->

                                <!-- Date -->
                                <!-- <p class="">
                                    <span class="">Date:</span>
                                    <span class="date">7 August 20200</span>
                                </p>
                            </div> -->
                            <!-- Collapse Button details - End -->
                    <!-- </h5>
                </div>


                <div id="collapse4" class="collapse clps-button" aria-labelledby="headingOne" data-parent=""> -->

                    <!-- Card Content Start-->
                    <!-- <div class="card-body">
                        <div class="card elcard">
                            <div class="row">
                                <div class="col-lg md-4 elsora">
                                    <img src="imgs/cover.jpg" class="img-fluid">
                                </div>

                                <div class="col-lg md-8">
                                    <div class="card-content my-4 px-3"> -->
                                        <!-- image -->
                                        <!-- <h3 class="card-title mt-2">First workout</h3> -->

                                        <!-- Date -->
                                        <!-- <p>
                                            <span class="fw-bold">Date:</span>
                                            <span class="date">7 August 20200</span>
                                        </p> -->

                                        <!-- Description -->
                                        <!-- <p class="mt-2">
                                            <span class="description-title fw-bold">Description:</span>
                                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                                            numquam culpa odio quas repudiandae iusto iste cum id deserunt sed possimus
                                            quis omnis impedit nisi aliquid. Odit veritatis nostrum iste odio aliquid
                                            enim similique molestiae! Error deserunt at eum doloribus. Lorem ipsum,
                                            dolor sit amet consectetur adipisicing elit. Rerum perferendis sit nesciunt
                                            doloremque aspernatur! Repellat, quae nam tempore quis nihil consequuntur,
                                            nisi necessitatibus unde consectetur ab odit odio culpa? Aut provident sit
                                            ipsa asperiores facere vel perferendis maxime facilis eveniet.</p>
                                       

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Card Content End-->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- Collapsable Card End (close by default)-->






    
    <!-- Card Start (3adi msh by-collapse)-->
    <div class="container mt-5" *ngFor="let item of progWorkOuts">
        <div class="card mb-5">
            <div class="row">
                <div class="col-lg md-4 elsora">
                    <!-- <img src="imgs/cover.jpg" class="img-fluid" alt=""> -->
                    <iframe class="elvideo" width="100%" height="100%"
                        src="https://www.youtube.com/embed/-uuKcR6HbWw"></iframe>
                </div>

                <div class="col-lg md-8">
                    <div class="card-content my-4 px-3">
                        <h3 class="card-title mt-2">{{item.name}}</h3>

                        <!-- Date -->
                        <p>
                            <span class="fw-bold">Target Muscle:</span>
                            <span class="date"> {{item.targetMuscle}}</span>
                        </p>

                        <!-- Description -->
                        <p>
                            <span class="description-title mt-2 fw-bold">Description:</span>
                        <p class="">{{item.description}}
                
                        </p>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Card End (3adi msh by-collapse) -->
</section>